<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask App</title>
</head>
<body>

    {% include 'header.html'%}

    {% block content %}

    <h1>Welcome to my Flask-Jinja App</h1>
    <br/>
    <p>This is My first Flask App</p>
    <br/>
    <p>Its easy to try, just install:</p>
    <ul>
        <li>Flask</li>
        <li>Html</li>
        <li>Python3</li>
        <li>Jinja</li>
    </ul>

    {% endblock %}

    {% include 'footer.html'%}
</body>
</html>